/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container {
    background: #F0F300;
}

.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
}

nav a:hover,
nav a:visited {
    color: #222;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ========
   Font CSS
   ======== */
@font-face {
  font-family: 'UbuntuTitling-Bold';
  src: url('../fonts/UbuntuTitling-Bold.eot');
  src: url('../fonts/UbuntuTitling-Bold.ttf') format('truetype'),
       url('../fonts/UbuntuTitling-Bold.svg#UbuntuTitling-Bold') format('svg'),
       url('../fonts/UbuntuTitling-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
}

h1 {
    font-family: 'UbuntuTitling-Bold';
    text-transform: uppercase;
    font-size: 14pt;
    margin-bottom: 5px;
}

h2 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-size: 24pt;
}

/* ===========
   Logo Styles
   =========== */

.name {
  font-family: 'UbuntuTitling-Bold';
  text-transform: uppercase;
  font-size: 30pt;
  font-weight: normal;
  line-height: 0.77;
  display: inline-block;
  margin-left: -0.5%;
  color: #222;
  white-space: nowrap;
}

#firstname, #lastname {
    /* background: #F0F300; */
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50.1%, #FFFFFF 49.9%);
  background-position: -0% 0;
  background-size: 200% auto;
  text-decoration: none;
  transition: background-position 0.75s cubic-bezier(0,1.01,.36,.93);
}

.name:hover #firstname, .name:hover #lastname {
  background-position: -99.99% 0;
}

#firstname {
  padding-top: 2%;
}

#nley {
  padding-right: 3%;
}

#st {
    padding-left: 4%;
    display: inline-block;
    margin: 0 0.75% 0 0.5%;
    transform: scale(1.065,1.0);
}
#hu {
    display: inline-block;
    margin: 0 -2% 0 -2.4%;
    padding-left: 4.25%;
    transform: scale(0.943,1.0);
}

#ng {
  padding-right: 3%;
  /*animation: slideRight 0.75s ease-out forwards reverse, fadeOut 0.1s ease-in both;*/
}

@keyframes slideRight {
  from {transform: translateX(0);}
  to {transform: translateX(50%);}
}

@keyframes fadeOut {
  from {opacity: 100%;}
  to {opacity: 0;}
}

.header-container {
    padding-top: 50px;
}

.hero h2 {
    font-size: 48pt;
    line-height: 1;
    margin-top: 54px;
    margin-bottom: 10px;
}

.laptop {
    position: relative;
    width: 800px;
    left: 550px;
    top: -300px;
    z-index: 5;
}

.screen {
    background-image: url("https://zellox.com/wp-content/uploads/2016/04/design-3.png");
    background-size: cover;
    position: relative;
    height: 337px;
    top: -739px;
    width: 528px;
    left: 687px;
}

.hero {
    height: 297px;
}

.links {
    font-size: 16pt;
}

.links a {
    color: #505050;
    margin-right: 5px;
}

.links a:visited {
    color: #505050;
}

.links a:hover {
    color: #222;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* ========
   Card CSS
   ======== */
   .card-container {
       margin: 0;
   }

   .card-container a {
       text-decoration: none;
   }

   .card {
       display: inline-block;
       background-size: cover;
       height: 300px;
       width: calc(50% - 10px);
       margin: 0 5px 10px 0;
       color: white;
       padding: 15px 20px;
       box-sizing: border-box;
       background-position: center;
       position: relative;
       box-shadow: 0 0 10px #aaa;
       transition: all .5s ease-in, transform 0.75s cubic-bezier(0,1.01,.36,.93);
       z-index: 10;
   }

   a:hover .card {
       box-shadow: 0 0 20px #aaa;
       transform: scale(1.1, 1.1);
       z-index: 999;
   }
   
   .card h3 {
       text-transform: uppercase;
       font-size: 10pt;
       margin: 0;
   }

   .card h4, .card h5 {
       position: absolute;
       left: 20;
       width: calc(100% - 40px);
       line-height: 1;
   }

   .card h4 {
       bottom: 45px;
       padding: 5px;
       margin: 0 -5px;
         /* background: #F0F300; */
        background-image: linear-gradient(to right, rgba(255,255,255,0) 50.15%, #F0F300 49.95%);
        background-position: -0% 0;
        background-size: 200% auto;
        text-decoration: none;
        transition: background-position 0.75s cubic-bezier(0,1.01,.36,.93), color 0.75s cubic-bezier(0,1.01,.36,.93);
   }

   a:hover .card h4 {
       background-position: -99.99% 0;
       color: #222;
   }

   .card h5 {
       bottom: 0;
       font-weight: 300;
   }

   .card-pcc {
       background-image: url("http://andyzhang.net/img/home/htn-1.png");
   }

   @media only screen and (min-width: 650px) {
        .card {
            width: calc(33% - 10px);
        }
   }

   @media only screen and (min-width: 820px) {
        .card {
            width: calc(25% - 10px);
        }
   }

    @media only screen and (min-width: 1045px) {
        .card {
            width: calc(20% - 10px);
        }
   }

   .about-container {
       background-color: #ececec;
   }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: right;
        margin: 0 15px;
        z-index: 999;
        /*width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;*/
    }

    nav a:hover {
        text-decoration: none;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    /*.main article {
        float: left;
        width: calc(25% - 20px);
    }*/

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}