.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("http://andyzhang.net/img/home/htn-1.png");
  background-size: cover;
  height: 200px;
  padding: 30px;
  transform-style: preserve-3d;
  
  &:hover {
    text-decoration: none;
    z-index: 999;

    .hilite {
      background-position: -95% 0;
    }
  }

  span {
    margin-bottom: 0;
    margin-left: -30px;
    padding: 5px 10px 10px 30px;
    transform: translateZ(20px);
  }

  h3 {
    display: inline-block;
    color: $text-color;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -10px;
    margin-left: -30px;
    padding: 0 10px 0 30px;
    font-weight: bold;
    font-size: 39px;
  }

  div {
    transform: translateZ(20px);
  }
}

.skills {
  padding: 30px;
  background-color: #ffffff;
  color: black;

  li {
    display: inline-block;
    padding: 1px 8px;
    margin-bottom: 4px;
    background-image: linear-gradient(to right, #efefef 50%, #F4C900 50%);
    background-size: 205% auto;
    animation-fill-mode: forwards;
    transition: background-position 0.5s cubic-bezier(0,1.01,.36,.93);

    &:hover {
      background-position: -95% 0;
    }
  }
}

.experience-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  a {
    flex-grow: 1;
  }

  a:last-child {
    content: '';
    flex-grow: 1000000000;
  }
}
