h2 {
  font-family: 'UbuntuTitling-Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hilite {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, $highlight-color 50%);
  background-size: 205% auto;
  animation-fill-mode: forwards;
  transition: background-position 0.5s cubic-bezier(0,1.01,.36,.93);
}

.gutter-bottom--double {
  margin-bottom: $spacing-unit * 2;
}

.gutter-bottom {
  margin-bottom: $spacing-unit;
}

.experience {
  display: grid;
  grid-template-columns: [start] 1fr 1fr 1fr [card-end] 1fr [skills] 1fr;
  grid-template-rows: [heading] auto auto;
}
