h2, .heading-2 {
  font-family: 'UbuntuTitling-Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

.hilite {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, $highlight-color 50%);
  background-size: 205% auto;
  animation-fill-mode: forwards;
  transition: background-position 0.5s cubic-bezier(0,1.01,.36,.93);
}

.gutter-bottom--double {
  margin-bottom: $spacing-unit * 2;
}

.gutter-bottom--half {
  margin-bottom: $spacing-unit / 2;
}

.gutter-bottom {
  margin-bottom: $spacing-unit;
}

.experience {
  display: grid;
  grid-template-columns: auto [start] 1fr [skills] 238px;
}

.experience-type {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  margin-left: -50px;
  width: 40px;

  h2 {
    display: inline-block;
  }
}

.links {
  text-align: right;
  margin-top: 10px;
  margin-right: 3px;

  a {
    font-size: 25px;
    margin-left: 5px;
    color: #a5a5a5;

    &:visited {
      color: #a5a5a5;
    }

    &:hover {
      color: #cacaca;
    }
  }
}
