h2, .heading-2 {
  font-family: 'UbuntuTitling-Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
}

.hilite {
  background-position: -95% 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, $highlight-color 50%);
  background-size: 205% auto;
  animation-fill-mode: forwards;
  transition: background-position 0.5s cubic-bezier(0,1.01,.36,.93);

  @include media-query($bp-s) {
    background-position: 0 0;
  }
}

.gutter-bottom--double {
  margin-bottom: $spacing-unit * 2;
}

.gutter-bottom--half {
  margin-bottom: $spacing-unit / 2;
}

.gutter-bottom {
  margin-bottom: $spacing-unit;
}

.experience {
  @include media-query($bp-s) {
    display: grid;
    grid-template-columns: 1fr [skills] 238px;
    margin-right: auto;
  }

  display: block;
  margin-bottom: 100px;
  max-width: 2200px;
  margin-left: auto;
  margin-right: -50px;
}

.experience-type {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  margin-left: -50px;
  width: 40px;
  height: 585px;

  h2 {
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;

    &.subdued {
      color: transparent;
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}

.links {
  text-align: right;
  margin-top: 10px;
  margin-right: 3px;

  a {
    font-size: 25px;
    margin-left: 5px;
    color: #a5a5a5;

    &:visited {
      color: #a5a5a5;
    }

    &:hover {
      color: #cacaca;
    }
  }
}

.bio {
  .links {
    margin-top: 30px;
    a {
      display: inline-block;
      margin-left: 15px;
    }
  }
}
