---
layout: default
---

<section class="hero">
  {{ content }}
</section>

<section class="experience">
  <h2>All // Work // Leadership // Education // Awards</h2>

  {% assign sorted_experience = site.experience | sort: "resume-order" %}
  {% for card in sorted_experience %}
    {% if card.type == 'work' %}
      <a href={{ card.link }} target='_blank' class='card' data-tilt>
        <div>
          <h3 class='hilite'>{{ card.company }}</h3>
          <br>
          <span class='hilite'>{{ card.position }}</span>
        </div>
      </a>
    {% endif %}
  {% endfor %}

  <div class="skills">
    {% for skill_cat in page.skills %}
      <h4>{{ skill_cat.title }}</h4>
      <ul>
        {% for skill in skill_cat.items %}
          <li>
            {{ skill }}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>

<section class="bio">
  <h2>About</h2>
  <h1>Let's create something amazing together</h1>
</section>
