---
layout: default
---

<section class="hero">
  {{ content }}
  <div class="links">
    <a href="./assets/resume.pdf" title="Resume" target="_blank"><i class="fa fa-file-text" aria-hidden="true"></i></a>
    <a href="mailto:s233huan@uwaterloo.ca"><i class="fa fa-send" aria-hidden="true"></i></a>
    <a href="https://linkedin.com/in/stanhuan" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/stanhuan" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
  </div>
</section>

<div class="experience-type">
  <h2 class='subdued'>education</h2>
  <h2 class='subdued'>awards</h2>
  <h2 class='subdued'>leadership</h2>
  <h2 class='subdued'>projects</h2>
  <h2 class='subdued'>work</h2>
</div>

<section class="experience">
  <div class="experience-grid">
    {% assign sorted_experience = site.experience | sort: "website-order" %}
    {% for card in sorted_experience %}
      {% if card.website-order %}
        <a 
          href={{ card.link }} 
          target='_blank' 
          class='card' 
          data-tilt
          data-tilt-max-tilt= "1" 
          style="background-image: url({{ card.thumbnail_url }})"
          {% for skill in card.skills %}
            data-skill-{{ skill }}
          {% endfor %}
          data-type= "{{ card.type }}"
        >
          <div>
            <h3 class='hilite'>{{ card.company }}</h3>
            <br>
            <span class='hilite'>{{ card.position }}</span>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="skills">
    <div class="sticky-skills">
      <h2>Skills</h2>
      {% for skill_cat in page.skills %}
        <h4>{{ skill_cat.title }}</h4>
        <ul>
          {% for skill in skill_cat.items %}
            <li data-skill="{{ skill.id }}">
              {{ skill.title }}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bio">
  <h1>Let's create something</h1>
  <h1>amazing together</h1>
  <div class="links">
    <a href="./assets/resume.pdf" title="Resume" target="_blank"><i class="fa fa-file-text" aria-hidden="true"></i> View Resume</a>
    <a href="mailto:s233huan@uwaterloo.ca"><i class="fa fa-send" aria-hidden="true"></i> Email</a>
    <a href="https://linkedin.com/in/stanhuan" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
    <a href="https://github.com/stanhuan" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i> GitHub</a>
  </div>
  <span></span>
</section>
