@font-face {
  font-family: 'UbuntuTitling-Bold';
  src: url('../fonts/UbuntuTitling-Bold.eot');
  src: url('../fonts/UbuntuTitling-Bold.ttf') format('truetype'),
       url('../fonts/UbuntuTitling-Bold.svg#UbuntuTitling-Bold') format('svg'),
       url('../fonts/UbuntuTitling-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
